/* Hero Images */
.overview .section-banner {
  background-image: url(../images/banners/header.png);
}

.section--bg-generic-custom {
  background: transparent url(../images/banners/make-it-yours.jpg) center no-repeat;
  background-size: cover;
}

.section--bg-generic-design {
  background: transparent url(../images/banners/powerful-smooth-beautiful.jpg) center center no-repeat;
  background-size: cover;
}

.section--bg-generic-media {
  background: transparent url(../images/banners/media.jpg) center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .section--generic.section--generic-mobile.section--bg-generic-custom>.inner::after {
    background: transparent url(../images/banners/make-it-yours-centered.jpg) center no-repeat;
    background-size: cover;
  }

  .section--generic.section--generic-mobile.section--bg-generic-design>.inner::after {
    background: transparent url(../images/banners/powerful-smooth-beautiful-centered.jpg) center center no-repeat;
    background-size: cover;
  }

  .section--generic.section--generic-mobile.section--bg-generic-media>.inner::after {
    background: transparent url(../images/banners/media-centered.jpg) center no-repeat;
    background-size: cover;
  }
}



/* Social Media Images */
.section-footer-social-media__icon:before {
  background-image: url(../images/social.svg);
  background-repeat: no-repeat;
}

.section-footer-social-media__channel--googleplus .section-footer-social-media__icon:before {
  background-position: 0 0;
  height: 20px;
  width: 32px;
}

.section-footer-social-media__channel--twitter .section-footer-social-media__icon:before {
  background-position: 0 -20px;
  height: 20px;
  width: 25px;
}

.section-footer-social-media__channel--youtube .section-footer-social-media__icon:before {
  background-position: -32px 0;
  height: 20px;
  width: 29px;
}



/* Generic Section Images */
.svgicon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

.svgicon.icon-play-white:before {
  background-image: url(../images/video.svg);
  background-size: 3.5em 4em;
  width: 3.6em;
  height: 3.6em;
}

.svgicon.icon-reasons-media:before {
  background-image: url(../images/media.svg);
  background-size: 7.5em 8.1em;
  width: 7.5em;
  height: 8.1em;
}

.svgicon.icon-reasons-design:before {
  background-image: url(../images/fire.svg);
  background-size: 7.2em 7.8em;
  width: 7.2em;
  height: 7.8em;
}

.svgicon.icon-reasons-custom:before {
  background-image: url(../images/customization.svg);
  background-size: 11em 8.2em;
  width: 11em;
  height: 8.2em;
}



/* Features Grid Images */
.svgicon.icon-features-customization:before {
  background-image: url(../images/customization.svg);
  background-size: 3.8em 3.8em;
  background-position: 0em 0em;
  width: 3.8em;
  height: 3.8em;
}

.svgicon.icon-features-swipable:before {
  background-image: url(../images/swipable.svg);
  background-size: 3.8em 3.8em;
  background-position: 0em 0em;
  width: 3.8em;
  height: 3.8em;
}

.svgicon.icon-features-web-previews:before {
  background-image: url(../images/web-link.svg);
  background-size: 4.2em 4.2em;
  background-position: 0em 0em;
  width: 4.2em;
  height: 4.2em;
}

.svgicon.icon-features-layouts:before {
  background-image: url(../images/layouts.svg);
  background-size: 4.2em 4.2em;
  background-position: 0em 0em;
  width: 4.2em;
  height: 4.2em;
}

.svgicon.icon-features-fav-user:before {
  background-image: url(../images/fav-user.svg);
  background-size: 4.2em 4.2em;
  background-position: 0em 0em;
  width: 4.2em;
  height: 4.2em;
}

.svgicon.icon-features-save-later:before {
  background-image: url(../images/save-later.svg);
  background-size: 4.0em 4.0em;
  background-position: 0em 0em;
  width: 4.0em;
  height: 4.0em;
}

.svgicon.icon-features-night:before {
  background-image: url(../images/night-mode.svg);
  background-size: 4.2em 4.2em;
  background-position: 0em 0em;
  width: 4.2em;
  height: 4.2em;
}

.svgicon.icon-features-block:before {
  background-image: url(../images/block.svg);
  background-size: 3.8em 3.8em;
  background-position: 0em 0em;
  width: 3.8em;
  height: 3.8em;
}

.svgicon.icon-features-mute-muffle:before {
  background-image: url(../images/mute-muffle.svg);
  background-size: 3.4em 3.4em;
  background-position: 0em 0em;
  width: 3.4em;
  height: 3.4em;
}

.svgicon.icon-features-tweetmarker-sync:before {
  background-image: url(../images/tweetmarker-sync.svg);
  background-size: 3.8em 3.8em;
  background-position: 0em 0em;
  width: 3.8em;
  height: 3.8em;
}

.svgicon.icon-features-data-saver:before {
  background-image: url(../images/data-saver.svg);
  background-size: 3.6em 3.6em;
  background-position: 0em 0em;
  width: 3.6em;
  height: 3.6em;
}

.svgicon.icon-features-background-sync:before {
  background-image: url(../images/background-sync.svg);
  background-size: 4.2em 4.2em;
  background-position: 0em 0em;
  width: 4.2em;
  height: 4.2em;
}

.svgicon.icon-features-do-not-disturb:before {
  background-image: url(../images/do-not-disturb.svg);
  background-size: 3.6em 3.6em;
  background-position: 0em 0em;
  width: 3.6em;
  height: 3.6em;
}

.svgicon.icon-features-schedule-tweets:before {
  background-image: url(../images/schedule-tweets.svg);
  background-size: 3.9em 3.9em;
  background-position: 0em 0em;
  width: 3.9em;
  height: 3.9em;
}

.svgicon.icon-features-media:before {
  background-image: url(../images/media.svg);
  background-size: 3.7em 3.7em;
  background-position: 0em 0em;
  width: 3.7em;
  height: 3.7em;
}
